<?xml version="1.0"?>

<xacro xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Load YAML -->

  <xacro:property name="cfg"
                value="${xacro.load_yaml('$(find amarsmer_control)/config/robot.yaml')}"/>

<xacro:property name="hydro"
                value="${cfg['hydrodynamics']}"/>

  <gazebo>
    <plugin filename="ignition-gazebo-hydrodynamics-system"
            name="ignition::gazebo::systems::Hydrodynamics">

      <link_name>${ns}/base_link</link_name>

      <!-- Added mass -->
      <xDotU>${hydro['added_mass']['xDotU']}</xDotU>
      <yDotV>${hydro['added_mass']['yDotV']}</yDotV>
      <zDotW>${hydro['added_mass']['zDotW']}</zDotW>
      <kDotP>${hydro['added_mass']['kDotP']}</kDotP>
      <mDotQ>${hydro['added_mass']['mDotQ']}</mDotQ>
      <nDotR>${hydro['added_mass']['nDotR']}</nDotR>

      <!-- Quadratic damping -->
      <xUabsU>${hydro['quadratic_damping']['xUabsU']}</xUabsU>
      <yVabsV>${hydro['quadratic_damping']['yVabsV']}</yVabsV>
      <zWabsW>${hydro['quadratic_damping']['zWabsW']}</zWabsW>
      <kPabsP>${hydro['quadratic_damping']['kPabsP']}</kPabsP>
      <mQabsQ>${hydro['quadratic_damping']['mQabsQ']}</mQabsQ>
      <nRabsR>${hydro['quadratic_damping']['nRabsR']}</nRabsR>

      <!-- Linear damping -->
      <xU>${hydro['linear_damping']['xU']}</xU>
      <yV>${hydro['linear_damping']['yV']}</yV>
      <zW>${hydro['linear_damping']['zW']}</zW>
      <kP>${hydro['linear_damping']['kP']}</kP>
      <mQ>${hydro['linear_damping']['mQ']}</mQ>
      <nR>${hydro['linear_damping']['nR']}</nR>

    </plugin>
  </gazebo>

</xacro>